.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:500px;
    height: 500px;
    margin-top:10px;
}

.hovered{
    background-color: black;
}